.Input {
    background: #FFFFFF;
    border: 1px solid #D8DCE6;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    padding: 7px 14px;

    &::placeholder {
        color: #BFC4CC;
    }
}
