.Calendar {
    &-WeekDay {
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 19px;
        color: rgba(52, 72, 94, 0.536062);
        text-align: center;
    }

    &-Day {
        font-weight: 500;
        font-size: 14px;
        line-height: 32px;
        color: #7C86A2;
        border: none;
        background: none;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;

        &_view {
            &_planned {
                color: #AA3434;
            }

            &_selected {
                color: #FFFFFF;
                background: #7ED5FC;
            }
        }
    }

    &-Offset {
        grid-row-start: 2;
        grid-column-start: 1;
    }

    &-Content {
        display: grid;
        grid-template-columns: repeat(7, 32px);
        grid-template-rows:  40px repeat(5, 32px);
        grid-column-gap: 10px;
    }
}