.TaskList {
    margin-left: 34px;

    &-List {
        list-style-type: none;
        margin: 0;
        padding: 0;
        max-height: 200px;
        overflow-y: auto;
    }

    &-Item {
        color: #A2ABBF;
        font-size: 14px;
        display: flex;
        align-items: center;

        &_done {
            color: #BFC4CC;
            text-decoration: line-through;
        }

        & ~ & {
            margin-top: 10px;
        }
    }

    &-Checkbox {
        margin-right: 19px;
    }

    &-Input {
        margin-top: 15px;
    }
}