.TaskList {
    margin-left: 34px;

    &-List {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-top: 16px;
        max-height: 152px;
        overflow-y: auto;
    }

    &-Item {
        color: #7C86A2;
        font-size: 14px;

        &_done {
            color: #BFC4CC;
            text-decoration: line-through;
        }

        & ~ & {
            margin-top: 10px;
        }
    }
}